<!DOCTYPE html>
<html lang="fr">
	<head>

	<link rel="icon" type="image/png" href="../images/rb.png" />

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="fr">
    <meta name="language" content="fr">
    <meta name="copyright" content="http://bertrand-remi.fr">
    <meta name="author" content="bertrand-remi.fr">
	
	<title>Rémi BERTRAND</title>

	<link rel="stylesheet" href="/public/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/public/css/style.css"/>
	</head>
	
	<body>
		<div class="div" id="div-1" onclick="open_large('div-1')">
			<div class="close-div" onclick="close_large('div-1')">
				<i class="fa fa-2x fa-times contour"></i>
			</div>
			<h1 class="gauche">Profil</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam architecto tenetur velit aspernatur et provident modi magni unde repellat explicabo blanditiis aut quos magnam numquam nesciunt officia dolorum sequi, reprehenderit.</p>
	    </div>

	    <div class="div" id="div-2" onclick="open_large('div-2')">
			<div class="close-div" onclick="close_large('div-2')">
				<i class="fa fa-2x fa-times contour"></i>
			</div>
			<h1 class="droit">Compétences</h1>
			<div class="container">
				<div class="school">
					<h2>Diplômes</h2>
					<ul>
						<li>Baccalauréat STI Génie Electronique</li>
						<li>BTS Génie Electronique</li>
					</ul>
				</div>
				<div class="formation">
					<h2>Formation</h2>
					<ul>
						<p>Site de la promotion :<a href="http://simplonve.co" target="_blank">SimplonV'E</a></p>
						<li><i class="fa fa-angle-right"></i> Formation sur une durée de six mois. Apprentissage des bases de la programmation web (Front & Back).</li>
					</ul>
				</div>
			</div>
			<div class="container">
				<div class="competence">
					<h2>Compétences</h2>
					<ul>
						<li><i class="fa fa-angle-right"></i> Dynamique et rigoureux.</li>
						<li><i class="fa fa-angle-right"></i> Sens de la pédagogie.</li>
						<li><i class="fa fa-angle-right"></i> Gestion et organisation de mon planning quotidien.</li>
						<li><i class="fa fa-angle-right"></i> Capacité d’adaptation, à travailler en autonomie/équipe.</li>
						<li><i class="fa fa-angle-right"></i> Aisance relationnelle.</li>
					</ul>
				</div>
				<div class="competence">
					<h2>Technologies</h2>
					<ul>
						<li><i class="fa fa-angle-right"></i> HTML5 & CSS3</li>
						<li><i class="fa fa-angle-right"></i> Ruby on Rails</li>
						<li><i class="fa fa-angle-right"></i> JavaScript</li>
						<li><i class="fa fa-angle-right"></i> Android avec Steroïds/Appgyver</li>
					</ul>
				</div>
			</div>
	    </div>

	    <div class="div" id="div-3" onclick="open_large('div-3')">
			<div class="close-div" onclick="close_large('div-3')">
				<i class="fa fa-2x fa-times contour"></i>
			</div>
			<h1 class="gauche">Parcours</h1>
			<div class="container">
				<div class="emploi">
					<h2>GESDAT / EXPRIMM</h2>
					<p>Développement, maintenance curative et préventive du réseau téléphonie Bouygues Télécoms.</p>
					<p>Maintenance curative et préventive du réseau 2G en Drôme Ardèche:</p>
					<ul>
						<li><i class="fa fa-angle-right"></i> Intervention sur site (antennes réseau mobile) avec différents degrés d’urgence.</li>
						<li><i class="fa fa-angle-right"></i> Dépannage des équipements au sol (matériel émission et réception réseau).</li>
						<li><i class="fa fa-angle-right"></i> Intervention en équipe sur pylône pour remplacement câblage et antennes.</li>
						<li><i class="fa fa-angle-right"></i> Astreintes nuits en semaine, week-ends et jours fériés.</li>
					</ul>
					<p>Déploiement du réseau 3G en région Rhône-Alpes et France :</p>
					<ul>
						<li><i class="fa fa-angle-right"></i> Participation aux tests du premier territoire couvert par la 3G du réseau Bouygues en France (Lyon).</li>
						<li><i class="fa fa-angle-right"></i> Mise en route des équipements 3G nouvellement installés (câblage, test qualité réseau).</li>
					</ul>
				</div>
				<div class="emploi">
					<h2>Medical'Air / IPSanté</h2>
					<p>Livraison, suivi et installation de matériel médical pour des patients souffrant d’insuffisance respiratoire et aussi des patients souffrant du syndrome d’apnée du sommeil. </p>
					<p>Insuffisance Réspiratoire:</p>
					<ul>
						<li><i class="fa fa-angle-right"></i> Préparation quotidienne du matériel à livrer (remplissage des cuves d’oxygène et vérification du consommable).</li>
						<li><i class="fa fa-angle-right"></i> Suivi et livraison à domicile de 8 patients/jour en moyenne dans le secteur sud Drôme – Ardèche.</li>
						<li><i class="fa fa-angle-right"></i> Gestion des dépannages et installation nouveaux patients.</li>
						<li><i class="fa fa-angle-right"></i> Entretien et maintenance du matériel.</li>
						<li><i class="fa fa-angle-right"></i> Astreintes nuits semaines, week-ends et jours fériés.</li>
					</ul>
					<p>Apnées du sommeil:</p>
					<ul>
						<li><i class="fa fa-angle-right"></i> Visite des patients à domicile pour révision machines (en moyenne 8 rendez-vous/jour).</li>
						<li><i class="fa fa-angle-right"></i> Livraison matériels aux patients.</li>
					</ul>
				</div>
			</div>
	    </div>

	    <div class="div" id="div-4" onclick="open_large('div-4')">
			<div class="close-div" onclick="close_large('div-4')">
				<i class="fa fa-2x fa-times contour"></i>
			</div>
			<h1 class="droit">Contact</h1>
			
			<div class="container-contact">
				<section class="content">
					<form action="/" method="post">
						<div class="input-position">
							<!-- <span class="input input--hoshi">
								<input class="input__field input__field--hoshi" name="nom" type="text" id="input-4" />
								<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
									<span class="input__label-content input__label-content--hoshi">Nom</span>
								</label>
							</span>
							<span class="input input--hoshi">
								<input class="input__field input__field--hoshi" name="prenom" type="text" id="input-4" />
								<label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-4">
									<span class="input__label-content input__label-content--hoshi">Prénom</span>
								</label>
							</span> -->
							<span class="input input--hoshi">
								<input class="input__field input__field--hoshi" name="email" type="email" id="input-4" />
								<label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-4">
									<span class="input__label-content input__label-content--hoshi">Email</span>
								</label>
							</span>
						</div>
						<div class="input-position">
							<span class="input input--hoshi">
								<textarea class="input__field input__field--hoshi textarea" name="message" type="text" id="input-4"></textarea>
								<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
									<span class="input__label-content input__label-content--hoshi">Votre demande</span>
								</label>
							</span>
						</div>
						<div class="input-position">
							<input type="submit" value="Envoyer" class="validate"/>
						</div>
						<div class="logo">
							<a href="https://twitter.com/Thalion26" target="_blanck"><i class="fa fa-3x fa-twitter-square"></i></a>
							<a href="https://www.linkedin.com/in/remibertrand" target="_blanck"><i class="fa fa-3x fa-linkedin-square"></i></a>
							<a href="https://fr.pinterest.com/thalion26/" target="_blanck"><i class="fa fa-3x fa-pinterest-square"></i></a>
							<a href="https://github.com/thalion26" target="_blanck"><i class="fa fa-3x fa-github-square"></i></a>
						</div>
					</form>
				</section>
			</div>
	    </div>
		<script type="text/javascript" src="/public/js/script.js"></script>
	</body>
</html>